* {
    margin: 0;
    padding: 0;
}

.profileHeading,
.loginHeading,
.signupHeading {
    color: rgb(68, 68, 156);
}

.signup {
    display: flex;
    width: 800px;
    margin: 200px auto;
    /* border: 1px solid black; */
    align-items: center;
}

.signupItem {
    width: 50%;
    /* border: 1px solid green; */
}

.signupBtn {
    background-color: #1877f2;
    border-radius: 1px;
    border: 0px;
    color: white;
    width: 100%;
}

.loginBtn {
    background-color: #42b72a;
    border-radius: 1px;
    border: 0px;
    color: white;
    width: 70%;
    margin-top: 20px;
}

.loginBtn a:link,
.loginBtn a:visited {
    color: white;
    text-decoration: none;
}

.loginDetails {
    display: flex;
    justify-content: center;
}

.signupUsername,
.signupPassword,
.signupBtn,
.loginBtn {
    font-size: 24px;
    padding: 5px;
    border-radius: 4px;
}

.loginBtn {
    margin-bottom: 20px;
}

.signupUsername,
.signupPassword {
    width: 95%;
    margin: 10px 0;
}

.signupForm,
.login {
    /* border: 1px solid black; */
    height: 50%;
}

.signupBtn {
    margin-bottom: 20px;
}

.signupForm {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}

.signupCreds {
    width: 300px;
}

.navItem1 {
    background-image: url('https://media.istockphoto.com/id/1184670036/');
    background-repeat: no-repeat;
    background-size: contain;
}

.navItem1,
.navItem2 {
    height: 300px;
}

.signupOptions {
    border: 1px solid #ccc;
    width: 100%;
    align-content: space-around;
    padding: 30px;
    box-shadow: 3px 3px 10px black;
}

.horizontalRule {
    border-top: 1px solid #ccc;
}

