<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    {{>navbar isAdmin=isAdmin}}
    <div class="container">
        <section class="about-us">
            <div class="about-text">
                <h4 class="sign">About Us</h4>
                <h2>PROVIDING RELIABLE CAR RENTALS</h2>
                <p style="line-height: 1.5;">
                    At <strong>Sortify Car Rentals</strong>, we specialize in offering safe, affordable, and reliable
                    car rental solutions for all your travel needs. Whether you're planning a weekend road trip,
                    attending a business meeting, or just exploring the city, our fleet is ready to get you there in
                    comfort and style. Backed by a passionate team and a commitment to customer satisfaction, we make
                    renting a car simple, stress-free, and budget-friendly.
                </p>
                <p style="line-height: 1.5; margin-top: 15px;">
                    Our mission is to make mobility accessible for everyone by offering a wide range of well-maintained
                    vehicles, transparent pricing, and 24/7 support. At Sortify, we're not just about getting you from
                    point A to B — we're about creating a smooth, trustworthy, and enjoyable journey every time.
                </p>

                <div class="features">
                    <div class="feature">
                        <img src="/images/safe.png" alt="Safe & Trusted">
                        <p>Safe & Trusted</p>
                    </div>
                    <div class="feature2">
                        <img src="/images/affordable.png" alt="Affordable Price">
                        <p>Affordable Price</p>
                    </div>
                </div>
            </div>
            <div class="about-image">
                <img src="/images/insaan.png" alt="Driver">
            </div>
        </section>

        <div class="founder">
            <div class="founderimage">
                <img src="/images/founder.png" alt="Doraemon">
            </div>
            <div class="founder-info">
                <div class="foundername">
                    <p><strong>DORAEMON</strong><br><span class="sign">Founder & CEO</span></p>
                </div>

            </div>
            <div class="foundersign">
                <p><strong>Signature</strong><br><span class="sign">Doraemon</span></p>
            </div>
        </div>
        <button class="logoutBtn">
           <a href="/logout">Logout</a>
        </button>
</body>

</html>