<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bookingsuccessful.css">
</head>
<body>
    {{>navbar isAdmin:isAdmin}}
    <div class="container">
        <h1>Booking Successful</h1>
        <p>Please visit MyBookings section to see the booking details</p>
    </div>
</body>
</html>