<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/" method="post" enctype="multipart/form-data">
        <input name="title" type="text" placeholder="Enter title" class="title">
        <input name="image" type="file" placeholder="Upload image" class="image">
        <input name="description" type="text" placeholder="Enter Description" class="description">
        <button type="submit">Submit</button>
   </form>
</body>
</html>