* {
    margin: 0;
    padding: 0;
}

.profileHeading,
.signupHeading,
.loginHeading {
    color: rgb(68, 68, 156);
}

.login {
    display: flex;
    width: 800px;
    margin: 200px auto;
    /* border: 1px solid black; */
    align-items: center;
}

.loginItem {
    width: 50%;
    /* border: 1px solid green; */
}

.signupBtn {
    background-color: #42b72a;
    border-radius: 1px;
    border: 0px;
    color: white;
    width: 70%;
    margin-top: 20px;
}

.signupBtn a:link,
.signupBtn a:visited {
    color: white;
    text-decoration: none;
}

.signupDetails {
    display: flex;
    justify-content: center;
}

.loginUsername,
.loginPassword,
.loginBtn,
.signupBtn {
    font-size: 24px;
    padding: 5px;
    border-radius: 4px;
}

.loginBtn {
    margin-bottom: 20px;
}

.loginUsername,
.loginPassword {
    width: 95%;
    margin: 10px 0;
}

.loginBtn {
    background-color: #1877f2;
    border-radius: 1px;
    border: 0px;
    color: white;
}

.loginBtn:hover,
.signupBtn:hover {
    cursor: pointer;
}

.loginForm {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}

.loginCreds {
    width: 300px;
}

.navItem1,
.navItem2 {
    height: 300px;
}

.loginOptions {
    border: 1px solid #ccc;
    width: 100%;
    align-content: space-around;
    padding: 30px;
    box-shadow: 3px 3px 10px black;
}

.horizontalRule {
    border-top: 1px solid #ccc;
}

.loginForm,
.signup {
    /* border: 1px solid black; */
    height: 50%;
}
