.productDetails{
    display: flex;
    flex-wrap: wrap;
}
.productItem{
    /* display: flex; */
    width: 100%;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding-bottom: 20px;
}
.productItem::after{
    content: "";
    display: table;
    clear: both;
}
.productItem:last-child{
    border-bottom: none;
}
.image{
    height: 300px;
    width: 30%;
    background-repeat: no-repeat;
    background-size:contain;
    /* background-position: center; */
    float: left;
}
.info{
    /* flex-grow: 1; */
    float: right;
    display: flex;
    width: 70%;
}
.productInfo{
    flex-grow: 4; 
    padding: 10px;
    padding-left: 20px;
}
.priceInfo{
    flex-grow: 1;
}
.price{
    font-size: 20px;
    font-weight: 700;
}
.btnGroup{
    display: flex;
}
.btn{
    flex-grow: 1;
    background-color: rebeccapurple;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
}
.btn:hover{
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
    
}