.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userBox {
    display: flex;
    flex-direction: column;
    /* min-height: 400px; */
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    height: 550px;
    padding-top: 10px;
    min-width:450px;
}
.userBox h2{
    text-align: center;
}
.carBox {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    height: 550px;
    overflow: hidden;
}
.carimg {
    width: 100%;
    height: 190px;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #ddd;
}
.bookinginfo {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.cbookinginfo table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    flex-grow: 1;
    margin-bottom: 10px;
}

.bookinginfo td {
    padding: 5px 8px;
    vertical-align: top;
    word-break: break-word;
}
.bookBtn{
    font-size: 24px;
}
td:nth-child(1){
   font-size: 20px;
   font-weight: 600;
}
td:nth-child(2){
    font-weight: 500;
    font-size: large;
}

.eachBooking{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 80%;
    border: 2px solid gray;
    border-radius: 10px;
}
td{
    white-space:nowrap;
}
