* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.car-list {
    padding: 50px 0;
    text-align: center;
}
.car-list h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.discoverBtn{
    display: inline-block;
    background-color: #ff6a00;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 40px;
    font-weight: bold;
}
.discoverBtn a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.why-choose-us {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}
.why-choose-us h2 {
    font-size: 32px;
    margin-bottom: 40px;
}
.reasons-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    position: relative;
}
.reason-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
.reason-box h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.reason-box p {
    font-size: 14px;
    color: #555;
}
.center-image {
    position: absolute;
    bottom: -50px;
    width: 200px;
    z-index: 1;
}






